.form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.input {
    max-width: 377px;
    margin-right: 12px;
}

.btn:nth-of-type(1) {
    width: 121px;
    margin-right: 12px
}

.btn:nth-of-type(2) {
    margin-right: 80px;
    width: 108px;
}

.btn:nth-of-type(3) {
    width: 119px;
}

.list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;
    flex-wrap: wrap;
    margin: 48px auto 0;
}

.listItem {
    margin-bottom: 48px;
}